<div class="col mb-4">
    <div class="card h-100 border-secondary">
        {{#if trunc}}
            <div class="row no-gutters">
                <div class="col-md-4 mt-lg-2 m-md-1 m-lg-0">
                    <img src="{{image}}" class="img-thumbnail" width="100%" height="200" alt="{{description}}">
                </div>
                <div class="col-md-7">
                    <div class="card-body text-body">                     
                        <h1 class="card-subtitle mb-2 font-weight-bold h2">{{description}}</h1>
                        <h2 class="card-subtitle font-weight-bold h4">Post by: {{username}}</h2>
                        <hr>
                        {{#if placed}}
                        <p class="card-subtitle h5">Placed by poster</p>
                        <hr>
                        {{else}}
                        <p class="card-subtitle h5">Spotted by poster</p>
                        <hr>
                        {{/if}}
                        <h1 class="card-subtitle h4">Located at:</h1>
                        <p class="card-text mb-2 text-truncate">{{location}}</p>
                        {{#if reviews}}
                        <h2 class="card-subtitle mb-2 h5">Overall Rating: {{overallRating}} (out of {{#length reviews 'review'}}{{/length}})</h2>
                        {{else}}
                        <h2 class="card-subtitle mb-2 h5">No reviews for this post</h2>
                        {{/if}}
                        <hr>
                        <h2 class="card-subtitle mb-2 h5">{{#length comments 'comment'}}{{/length}}</h2>
                    </div>
                </div>
                {{#if loggedIn}}
                    <div class="col-auto ml-auto mr-auto py-3">
                        <div class="form-inline justify-content-center">
                            <form method="POST" action="/favorite/{{_id}}">
                                <button type="submit" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false">
                                <span class="sr-only">Add this Post to Favorites</span>
                                <i class="bi bi-bookmark-star"></i>
                            </button>
                            </form>
                        </div>
                    </div>
                {{/if}}
                <div class="w-100"></div>
                <div class="col w-auto">
                    <div class="text-center">
                        <div class="card-footer">
                            {{#if mgmtPage}}
                                <form action="/account/listings/{{_id}}">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Go to Post</button>
                                </form>
                            {{else}}
                                <form action="/listings/{{_id}}">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Go to Post</button>
                                </form>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#unless trunc}}
            <div class="card-header bg-transparent border-light mb-2">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <img src="{{image}}" class="img-thumbnail" width="100%" height="200" alt="{{description}}">
                    </div>
                </div>
            </div>
            <div class="card-body text-body">
                {{#if loggedIn}}
                    <div class="row justify-content-between mb-1">
                        <div class="col-auto ml-auto ml-md-1 mr-auto py-3">
                            <div class="form-inline justify-content-center">
                                <button type="button" class="btn btn-outline-warning" data-toggle="button" aria-pressed="false">
                                    <span class="sr-only">Add this Post to Favorites</span>
                                    <i class="bi bi-bookmark-star"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {{/if}}
                <h1 class="card-subtitle font-weight-bold h2">Description:</h1>
                <h2 class="card-text mb-4 h4">{{description}}</h2>
                <h2 class="card-subtitle font-weight-bold h4">Post by: {{username}}</h2>
                <hr>
                {{#if placed}}
                <p class="card-subtitle h5">Placed by poster</p>
                <hr>
                {{else}}
                <p class="card-subtitle h5">Spotted by poster</p>
                <hr>
                {{/if}}
                <h2 class="card-subtitle font-weight-bold mb-3">Reviews:</h2>
                <div id="review-area" class="row row-cols-1 justify-content-center">{{#each reviews}} {{> review }} {{/each}}</div>
                <div class="row row-cols-1 align-items-center">
                    <div class="col mb-2">
                        <button type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="true">Show More</button>
                    </div>
                    {{#unless ownPost}}
                        <div class="col mb-2 p-2">
                            <form class="form-inline" method="POST" action="/review/{{_id}}">
                                <label for="review-textarea" class="sr-only">Textbox for Your Review:</label>
                                <textarea class="form-control w-100" id="review-textarea" name="review-textarea" aria-required="true" maxlength="500" required></textarea>
                                <div class="container-fluid my-auto p-2">
                                    <label for="review-rating" class="col-form-label float-left mr-md-2 font-weight-bold">Rating:</label>
                                    <input type="number" class="form-control" id="review-rating" name="review-rating" min="1" max="5" aria-required="true" required>
                                    <div class="d-inline-flex p-2 float-md-right"><span><button type="submit" class="btn btn-primary">Add Review</button></span></div>
                                </div>
                            </form>
                        </div>
                    {{/unless}}
                </div>
                {{#if reviews}}
                <h2 class="card-subtitle mb-2 h5">Overall Rating: {{overallRating}} (out of {{#length reviews 'review'}}{{/length}})</h2>
                {{else}}
                <h2 class="card-subtitle mb-2 h5">No reviews for this post</h2>
                {{/if}}
                <hr>
                <h2 class="card-subtitle font-weight-bold mb-3 h4">Comments:</h2>
                <div id="comment-area" class="row row-cols-1 justify-content-center">{{#each comments}} {{> comment }} {{/each}}</div>
                <div class="row row-cols-1">
                    <div class="col align-self-center mb-2">
                        <button type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="true">Show More</button>
                    </div>
                    <div class="col mb-2 p-2">
                        <form class="form-inline" method="POST" action="/comment/{{_id}}">
                            <label for="comment-textarea" class="sr-only">Textbox for Your Comment:</label>
                            <textarea class="form-control w-100" id="comment-textarea" name="comment-textarea" maxlength="100" aria-required="true" required></textarea>
                            <div class="container-fluid my-auto p-2">
                                <span class="float-md-right">
                                    <button type="submit" class="btn btn-primary">Add Comment</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <h2 class="card-subtitle font-weight-bold h3">Location:</h2>
                <p class="card-text mb-3">{{location}}</p>
                <h2 class="card-subtitle font-weight-bold h3">Upload Date:</h2>
                <p class="card-text mb-3">{{date}} {{time}}</p>
                {{!-- This status was mentioned in the original project proposal, so I included 
                here. If it's causing issues, feel free to comment it or delete it. - Chance --}}
                <h2 class='card-subtitle font-weight-bold h3'>Status:</h2>
                <p class="card-text mb-3">{{status}}</p>
                <h2 class="card-subtitle font-weight-bold h3">Keywords:</h2>
                <p class="card-text mb-3">{{#kwPrinter keywords ';'}}{{/kwPrinter}}</p>
            </div>
            {{#if ownPost}}
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="/account/listings/{{_id}}">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Available</a>
                                    <a class="dropdown-item" href="#">Taken</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {{/if}}
            {{#if isAdmin}}
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="/admin/listings/{{_id}}">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Pending</a>
                                    <a class="dropdown-item" href="#">Available</a>
                                    <a class="dropdown-item" href="#">Taken</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {{/if}}
        {{/unless}}
    </div>
</div>